a {
  color: #999;
  text-decoration: none;
}
a:visited {
  color: #999;
}
.btn {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
.btn-primary {
  color: #999;
  background-color: #ffdd44;
  border-color: #999;
}
