a {
  color: #999;
  text-decoration: none;
}
a:visited {
  color: #999;
}
input {
  border: 1px solid #999;
  font-size: 0.8rem;
  border-radius: 0.1rem;
}
input:hover, input:focus {
  border: 1px solid #88bbff;
  outline: 0;
}
.btn {
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.3rem 1rem;
}
.btn-primary {
  color: #999;
  background-color: #ffdd44;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-color: #999;
}
.btn-primary:hover {
  border-color: #999
}
