.card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  border-radius: 4px;
  width: 245px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  text-align: center;
  line-height: 42px;
}
