.card {
  width: 120px;
  height: 180px;
  border: 1px solid #999;
  text-align: center;
  border-radius: 4px;
  margin: 2px 8px;
  &__content {
    height: 120px;
  }
  &__footer {
    background-color: #ffdd44;
    height: 60px;
    border-radius: 0 0 4px 4px;
    line-height: 60px;
  }
}
a {
  color: #999;
  text-decoration: none;
  &:visited {
    color: #999;
  }
}
