.header {
  color: red;
}
.ele {
  height: 40px;
  line-height: 40px;
  padding: 0 5px;
  flex-basis: 170px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  min-width: 1080px;
  width: 1080px;
  margin: 0 auto;
}

.whiteText {
  color: #fff;
}
