$line-width: 1px;
$line-height: 20px;
$node-padding: 5px;

.verticalLine {
  content: '';
  position: absolute;
  top: 0;
  height: $line-height;
  box-sizing: border-box;
}

.node {
  flex: auto;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: $line-height $node-padding 0px $node-padding;
}
.node::before {
  content: '';
  position: absolute;
  top: 0;
  height: $line-height;
  box-sizing: border-box;
  right: 50%;
  width: 50%;
  border-top: $line-width solid #ff0000;
}
.node::after {
  left: 50%;
  border-left: $line-width solid #ff0000;
  content: '';
  position: absolute;
  top: 0;
  height: $line-height;
  box-sizing: border-box;
  width: 50%;
  border-top: $line-width solid #ff0000;
}

// .node:only-of-type {
//   padding: 0;
// }

.node:first-of-type {
  color: #ff0880;
}
.node:first-of-type::after {
  border-radius: 5px 0 0 0;
}
.node:first-of-type::before {
  border: 0 none;
}

.node:last-of-type {
  color: #f80;
}

.node:last-of-type::before {
  border-right: $line-width solid #ff0000;
  border-radius: 0 5px 0 0;
}
.node:last-of-type::after {
  border: 0 none;
}
.node:only-of-type::after {
  border-radius: 0;
}
.node:only-of-type::before {
  border-radius: 0;
}

.childrenContainer {
  display: flex;
  padding-inline-start: 0;
  margin: 0;
  padding-top: $line-height;
  position: relative;
}
.childrenContainer::before {
  content: '';
  position: absolute;
  top: 0;
  height: $line-height;
  box-sizing: border-box;
  left: calc(50% - $line-width / 2);
  width: 0;
  border-left: $line-width solid #ff0000;
}
.childrenContainer::after {
  content: '';
  position: absolute;
  top: 0;
  height: $line-height;
  box-sizing: border-box;
  left: calc(50% - $line-width / 2);
  width: 0;
  border-left: $line-width solid #ff0000;
}
.haswife {
  position: relative;
  left: 12.5%;
}

.haswife::before {
  content: '';
  position: absolute;
  top: 0px;
  height: $line-height;
  box-sizing: border-box;
  left: calc(50% - 35px);
  width: calc(25%);
  border-top: 1px solid #f00;
  border-left: none;
}


.couple {
  position: absolute;
  top: -24px;
  left: calc(50% + 38px);
}
